*{
    box-sizing: border-box;
}
.dash{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.side-dash{
    background-image: linear-gradient(to left top, #8f0909 , #9f2424);    
    width: 14rem;
    transition: 2s linear 1s;
}

.side-dash .header-side{
    height: 24%;
    width: 14rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.side-dash .header-side h2{
    color: white;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 1.4px;
}

.side-dash .header-side .content-img{
    width: 8.1rem;
    height: 8.1rem;
    border-radius:50% ;
    overflow: hidden;
    border: 2px solid rgb(234, 234, 234);
}

.side-dash .header-side .content-img img{
    width: 100%;
    height: 100%;
}

.side-dash .content-side{
    height: 65.7%;
}

.side-dash .content-side .content-link{
    height: 100%;
    display: flex;
    flex-direction: column;
    border-top: 2px solid rgb(234, 234, 234);
}

.side-dash .content-side .content-link .link-component{
    list-style-type: none;
    height: 5.7rem;
    width: 15rem;
    border: none;
    border-bottom: 2px solid rgb(234, 234, 234);
    display: flex;
    transition: 0.3s linear;
}

.side-dash .content-side .content-link .link-component:hover{
    background-color: #d13131;
}

.side-dash .content-side .content-link .link-component i{
    color: white;
    font-size: 15px;
    margin-right: 5px;
}

.side-dash .content-side .content-link .link-component .link{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: 100%;
    padding: 0 31px;
    padding-top: 35px;
}

.ant-message {
    top: 18px !important;
    left: 8rem !important;
  }
  .message-succes-content .ant-message-notice-content {
    background-color: rgb(41, 153, 77);
    opacity: 1;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: "Inter", sans-serif;
    border-radius: 4px;
    padding: 10px 35px;
    border-radius: 7px;
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
      0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
  }
  
  .message-error-content .ant-message-notice-content {
    background-color: rgb(207, 47, 47);
    font-weight: 500;
    letter-spacing: 1px;
    font-family: "Inter", sans-serif;
    border-radius: 4px;
    padding: 10px 35px;
    border-radius: 7px;
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
      0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
  }

  .message-update-content .ant-message-notice-content{
    background-color: rgb(41, 153, 77);
    opacity: 1;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: "Inter", sans-serif;
    border-radius: 4px;
    padding: 10px 35px;
    border-radius: 7px;
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
      0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
  }

  .message-delete-content .ant-message-notice-content{
    background-color: rgb(207, 47, 47);
    font-weight: 500;
    letter-spacing: 1px;
    font-family: "Inter", sans-serif;
    border-radius: 4px;
    padding: 10px 35px;
    border-radius: 7px;
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
      0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
  }
  
  .message-succes-content .ant-message-notice-content span {
    color: rgb(234, 234, 234);
    font-size: 0.98rem;
  }
  
  .message-succes-content .ant-message-notice-content i {
    color: rgb(234, 234, 234);
    font-size: 1rem;
  }

  .message-update-content .ant-message-notice-content span {
    color: rgb(234, 234, 234);
    font-size: 0.98rem;
  }
  
  .message-update-content .ant-message-notice-content i {
    color: rgb(234, 234, 234);
    font-size: 1rem;
  }

  .message-delete-content .ant-message-notice-content span {
    color: rgb(234, 234, 234);
    font-size: 0.98rem;
  }
  
  .message-delete-content .ant-message-notice-content i {
    color: rgb(234, 234, 234);
    font-size: 1rem;
  }
  
  .message-error-content .ant-message-notice-content span {
    color: rgb(234, 234, 234);
    font-size: 0.98rem;
  }
  
  .message-error-content .ant-message-notice-content i {
    color: rgb(234, 234, 234);
    font-size: 1rem;
  }


  



