.email-card{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(134,37,38,1) 0%, rgba(164,31,31,1) 100%);
    width: 68%;
    margin: 0 auto;
    margin-top: 1.2rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
    
}

.email-card .email-header{
    width: 100%;
    padding-left: 15px;
    padding-top: 10px;
}
.email-card .email-header h2{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 1px;
    color: white;
    
}

.form-email{
    width: 100%;
    display: flex;
}

.form-email form{
    width: 100%;
}

.form-email .form-send-email{
    display: flex;
}

.email-card .email-content{
    width: 100%;
    display: flex;
}

.email-card .area-email{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-top: 10px;
}

.email-card .area-email .subject-email{
    display: flex;
    flex-direction: column;
}

.email-card .area-email span::before{
    display: inline;
    content: "⚠ ";
}

.email-card .area-email .subject-email span{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: rgb(244, 239, 239);
  font-size: 14px;
    letter-spacing: 0.5px;
}

.email-card .area-email input{
    outline: none;
    border: none;
    width: 19rem;
    height: 1.8rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    padding-left: 5px;
    margin-bottom: 4px;
    border-radius: 3px;
    box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.75);
}

.email-card .area-email textarea{
    resize: none;
    outline: none;
    border: none;
    white-space: normal;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 0.9px;
    line-height: 20px;
    padding: 5px 5px;
    border-radius: 3px;
    margin-top: 0.5rem;
    width: 100%;
    height: 15rem;
    overflow-y: scroll;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    text-align: justify;
}

.email-card .area-email span{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: rgb(244, 239, 239);
  font-size: 14px;
    letter-spacing: 0.5px;
    margin-top: 0.2rem;
    margin-bottom: 0.3rem;
}

.email-card .buttons{
    width: 20%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.7rem;
    padding-top: 3rem;
    
}

.email-card .buttons button{
    background-color: #971a1a;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 1.4px;
    border: none;
    border-radius: 3px;
    width: 8.4rem;
    height: 2.5rem;
    margin-bottom: 30px ;
    font-family: 'Inter', sans-serif;
    box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.75);
}
