.chart-principal{
width: 100%;
  background-color: rgb(252, 252, 252);
}
.chart-principal .charts .title-chart{
    padding-top: 1rem;
    width: 97%;
    margin: 0 auto;
}
.chart-principal .charts .fa-house{
    font-size: 1.3rem;
  
  text-transform: capitalize;
  padding-right: 5px;
  color: rgb(55, 138, 182);
}
.chart-principal .charts span{
    font-size: 1.3rem;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-family: 'Inter', sans-serif;
  color: rgb(55, 138, 182);
}

.chart-principal .charts-header{
    width: 97%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 1.8rem;
    margin-bottom: 1rem;
}

.chart-principal .charts-header .charts-header-content{
    width: 24rem;
    height: 5.4rem;
    display: flex;
    outline: none;
    border: none;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.chart-principal .charts-header .charts-header-content .chart-icon{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: white;
}
.chart-principal .charts-header .charts-header-content .chart-information{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.chart-principal .charts-header .charts-header-content .chart-information h5{
    margin: 0;
    color: white;
    padding-left: 8px;
    font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-family: 'Inter', sans-serif;
}
.chart-principal .charts-header .charts-header-content.person-create .chart-icon{
    background-color: rgb(55, 138, 182);
}

.chart-principal .charts-header .charts-header-content.person-create .chart-information{
    background-color: rgb(107, 153, 189);
}

.chart-principal .charts-header .charts-header-content.person-delete .chart-icon{
    background-color: rgb(220, 48, 48);
}

.chart-principal .charts-header .charts-header-content.person-delete .chart-information{
    background-color: rgb(223, 96, 96);
}

.chart-principal .charts-header .charts-header-content.memo-create .chart-icon{
    background-color: rgb(64, 148, 71);
}

.chart-principal .charts-header .charts-header-content.memo-create .chart-information{
    background-color: rgb(109, 165, 162);
}
.chart-principal .charts-header .charts-header-content.memo-delete .chart-icon{
    background-color: rgb(220, 48, 48);
}

.chart-principal .charts-header .charts-header-content.memo-delete .chart-information{
    background-color: rgb(223, 96, 96);
}

.chart-content-bar-person{
    width: 40rem;
    padding: 1rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);

}

.charts-content{
    width: 97%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.charts-content .charts-show{
    display: flex;
    margin-bottom: 2rem;
    justify-content: space-evenly;
}